.page {
    // .page__featured
    &__featured {
    }
}
.featured {
    padding-top: 110px;
    padding-bottom: 110px;
    // .featured__container
    &__container {
    }

    // .featured__title
    &__title {
        margin-bottom: 95px;
    }

    // .featured__body
    &__body {
        background-color: #F1FFFF;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 77px; 
        padding: 40px 40px 82px 40px;   
    }

    // .featured__images
    &__images {
    }

    // .featured__content
    &__content {
    }
}
.title {
    // .title_center
    &_center {
    }
}
.images-featured {
    display: grid;
    justify-items: center;

    // .images-featured__item
    &__item {
        
    }
    &__item img {
        max-width: 100%;
    }
    &__item_front {
        margin-left: 20px;
        margin-right: 20px;
        filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
        margin-top: -114px;
    }
}

.content-featured {
    @media (min-width: 991px){
        & {
            padding-top: 40px;
            max-width: 412px;
        }
    }
    // .content-featured__title
    &__title {
        font-size: 31px;
        line-height: 42px;
        margin-bottom: 25px;
    }

    // .content-featured__text
    &__text {
        @media (min-width: 991px){
            & {
                max-width: 344px;
            }
        }
        margin-bottom: 40px;
    }

    // .content-featured__options
    &__options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }

    // .content-featured__link
    &__link {
        background: $btnBg;
        box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
        &:hover {
            background: $btnHvr;
        }

        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;

        padding: 16px 35px;
        border-radius: 5px;
        display: block;
        transition: all 0.2s ease 0s;
    }
}
.options-content-featured {
    margin-bottom: 54px;
    // .options-content-featured__item
    &__item {
    }

    // .options-content-featured__label
    &__label {
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 12px;
    }

    // .options-content-featured__value
    &__value {
        font-size: 17px;
    }
}

@media (max-width: ($md2+px)){
    .featured {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
@media (max-width: ($md3+px)){
    .featured {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .featured__title {
        font-size: 35px;
    }
   
}



@media (max-width: ($md2+px)){
    .featured {
        &__body {
            display: flex;
            flex-direction: column-reverse; 
        }
    }
}
@media (max-width: ($md2+px)){
    .featured {
        &__title {
            margin-bottom: 40px;
        }
    }
}
@media (max-width: ($md3+px)){
    .featured {
        &__body {
            margin: 0px -15px;
            padding: 25px 20px 25px 20px;
        }    
    }
    .content-featured {
        &__title {
            font-size: 28px;
            margin-bottom: 15px;
        }
    }
}
@media (max-width: ($md4+px)){
    .content-featured {
        &__options {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
        &__title {
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 15px;
            
        }
        &__link {
            font-size: 16px;
            font-weight: 500;
        }
    }
    
}