$md1: 1199.98;
$md2: 990.98;
$md3: 768.98;
$md4: 479.98;

$btnBg: #F85A47;
$btnHvr: #e1402e;

body {
    font-family: 'Manrope';
    color: #333333;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 1 auto;
}
// ============================
.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
}
.title_center {
    text-align: center;
}
// ============================

// ============================
[class*="__container"] { //для усіх класів, де буде зусьтрічатись "__container"
    max-width: 1170px;
    margin: 0px auto;
}
@media (max-width: ($md1 + px)){
    [class*="__container"] {
        max-width: 970px;

    }
}
@media (max-width: ($md2 + px)){
    [class*="__container"] {
        max-width: 750px;

    }
}
@media (max-width: ($md3 + px)){
    [class*="__container"] {
        padding-left: 15px;
        padding-right: 15px;
        max-width: none;
    }
}

// ================================

// ========== Header ==============
@import "header.scss";

// ========= "Main" page ==========
@import "main-block.scss";

// ========= "How" page ===========
@import "how.scss";

// ======== "Deals" page ==========
@import "deals.scss";

// ======== "Featured" page ==========
@import "featured.scss";

// ======== "Reviews" page ==========
@import "reviews.scss";

// ======== "Subscribe" page ==========
@import "subscribe.scss";

// ======== "Footer" page ==========
@import "footer.scss";